extends ../layout

block content
  h1 See all the tags
  a(href="/tags/new") Add a new tag
  table.table.table-hover.table-striped
    thead
      th Name
      th Edit
      th Delete
    tbody
      each tag in tags
        tr
          td
            a(href="/tags/#{tag.id}")= tag.name
          td
            a(href="/tags/#{tag.id}/edit") Edit this tag
          td
            form(action="/tags/#{tag.id}?_method=DELETE" method="POST")
              input(type="submit" value="X" class="btn btn-xs btn-danger")