extends ../layout

block content
  a(href="/tags") See all tags
  h1 See all the users
  a(href="/users/new") Add a new user
  ul
    each user in users
      li= user.username

      a(href="/users/#{user.id}/posts") See all the posts for this user
      br
      a(href="/users/#{user.id}/edit") Edit this user
      form(action="/users/#{user.id}?_method=DELETE" method="POST")
        input(type="submit" value="X")